<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Register Page</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <div class="container" style=" text-align: center;">
            <p id="welcome">SIGN UP</p>
            <input type="text" id="username" placeholder="username" required>
            <input type="password" id="password" placeholder="password" required>
            <input type="text" id="firstName" placeholder="first name" required>
            <input type="text" id="lastName" placeholder="last name" required>
            <input type="number" id="number" placeholder="phone number">
            <div>
                <input style="margin: 0; padding: 0; width: 15px;" type="radio" id="gender" name="gender" value="male">
                <label style="margin: 0;padding: 0;">MALE</label>
                <input style="margin: 0; padding: 0; width: 15px;" type="radio" id="gender" name="gender" value="female">
                <label style="margin: 0;padding: 0;">FEMALE</label>
            </div>
            <button id="register">register</button>


            <p style="text-transform: uppercase; margin-top: 5px;">already have an acoount? <a href="/api/login">login</a></p>
            <p id="by">BY ALIREZA KHAKI <a href="https://github.com/alirezaKhaki">GITHUB PAGE</a></p>

        </div>
        <%- include('./partials/modal.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="/javascripts/register.js"></script>
</body>

</html>